<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
   <style>
       * {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.clinic{
  color: #4169e1;
  /* padding-bottom: 2rem; */
  text-align: center;
  letter-spacing: 2px;
}
.clinicl{
  color: #4169e1;
  padding-bottom: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
.container {
  width: 80vw;
  max-width: 450px;
  padding: 2rem;
  box-shadow: 0px 0px 3px #1c4659;
}


h1 {
  width: 70vw;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.inner-container {
  margin: 1rem 0;
}
.inner-container .title {
  text-align: center;
  margin-bottom: 10px;
}

.data {
  background-color: #e8ecef;
  color: #000;
  padding: 0.8rem;
  width: 100%;
}
.inner-container .result {
  color: #000;
}
.inner-container .input:focus {
  outline: none;
}
.button {
  background-color: #27a844;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}
   </style>
</head>
<body>