* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
#report {
  width: 90vw;
  margin: auto;
  max-width: 800px;
}

.main-title {
  text-align: center;
  margin: 3rem 0;
}
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-image,
.qr-code {
  width: 100px;
  height: 100px;
}
.image-container p {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.client-info {
  border: 1px solid #000;
  margin-bottom: 1.5rem;
}
.info .title {
  background-color: #064d9d;
  color: #fff;
  padding: 0.3rem;
  font-size: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .left {
  flex: 1;
  border-right: 1px solid #000;
}
.container .right {
  flex: 1;
}
.details {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.details p {
  flex: 1;
  font-size: 12px;
  margin-left: 0.2rem;
}
.details h2 {
  flex: 2;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 1rem;
}
.test-info {
  border: 1px solid #064d9d;
  margin-bottom: 1.5rem;
}
.footer {
  margin-top: 15rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 10px;
  font-style: italic;
  color: #064d9d;
  font-weight: bold;
}
.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line .l {
  width: 60%;
  height: 10px;
  background-color: #064d9d;
}
.line p {
  color: #064d9d;
  font-size: 14px;
  margin: 0 1rem;
}
